body {
    background-color: #434953;
}

.imgStyle {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 50%;
}

SplideSlide {
    display: flex;
    justify-content: center;
}